{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center py-3 text-capitalize">Blog Section</h1>
    <hr>

    {% for post in posts%}

    <div class="card mb-3" style="max-width: auto;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{post.featured_image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title"><a class = "text-decoration-none" href="{% url 'article' post.slug %}">{{post.title}}</a></h4>
              <p class="card-text">{{post.content|truncatewords:35|safe}}<a class = "text-decoration-none" href="{% url 'article' post.slug %}">Read more</a></p>
              <p class="card-text"><small class="text-muted">{{post.created}}</small></p>
              <p class="card-text"><small class="d-block">By <a class="text-muted" href="#">Favid Rick</a> Category: <a href="{% url 'category' post.category.slug %}">{{post.category.title}}</a></small></p>
            </div>
          </div>
        </div>
    </div>

    {% endfor %}

</div>

<!-- Pagination -->

<nav aria-label="Page navigation example" class="my-3">
  <ul class="pagination justify-content-center">

    {% if posts.has_previous %}

    <li class="page-item">
      <a class="page-link" href="?page={{post.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}

    {% for i in posts.paginator.page_range %}

    {% if post.number == i %}

    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>


    {% endif %}
    {% endfor %}

    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}